<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odoo project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 style="text-align: center; padding: 10px; font-size: 40px; font-family: Verdana, Geneva, Tahoma, sans-serif; color: purple;">Product Order Management</h1>
    <div class="container" style="margin-left: 500px;">
        <div class="product">
            <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: #728c69;">Maize Flour</h2>
            <p style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: #728c69;">Current Stock: <span id="stockLevel">100</span> kg</p>
            <form id="orderForm" style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: #728c69;">
                <label for="quantity">Quantity to Order:</label>
                <input style="border-color: #728c69; padding: 4px 8px; font-size: 15px; font-family: Verdana, Geneva, Tahoma, sans-serif; color: #728c69; border-color: #728c69;" type="number" id="add" name="add" min="1">
                <button style="padding: 4px 2px; color: #728c69; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;" type="submit">Place Order</button>
                   <br>
                   <br>
                <label for="quantity">Quantity to add:</label>
                <input style="border-color: #728c69; padding: 4px 2px; font-size: 15px; font-family: Verdana, Geneva, Tahoma, sans-serif; color: #728c69;"  type="number" id="quantity" name="quantity" min="1">
                <button style="padding: 4px 2px; color: #728c69; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;" type="submit" id="addStockBtn">Add Stock</button>
            </form>
        </div>
        <div class="order">
            <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: #728c69;">Order Summary</h2>
            <p style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: #728c69;">Total Value: <span id="totalValue">0</span></p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>